<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>
<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <!-- pipe personalizado -->
        <tr>
          <td>{{ namePersonalized }}</td>
          <td> personalized:true </td>
          <td> {{ namePersonalized | personalized:true }}</td>
        </tr>
        <tr>
          <td>{{ namePersonalized }}</td>
          <td> personalized:false </td>
          <td> {{ namePersonalized | personalized:false }}</td>
        </tr>
        <!-- pipes predefinidos -->
        <tr>
          <td>{{ name }}</td>
          <td> uppercase </td>
          <td> {{ name | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td> lowercase </td>
          <td> {{ name | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td> slice:4 </td>
          <td> {{ name | slice:4 }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td> slice:0:4 </td>
          <td> {{ name | slice:0:4 }}</td>
        </tr>
        <tr>
          <td>{{ array }}</td>
          <td> slice:2:6 </td>
          <td> {{ array | slice:2:6 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td> number </td>
          <td> {{ PI | number }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td> number:'1.0-0' </td>
          <td> {{ PI | number:'1.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td> number:'3.0-0' </td>
          <td> {{ PI | number:'3.0-0' }}</td>
        </tr> 
        <tr>
          <td>{{ PI }}</td>
          <td> number:'.0-2' </td>
          <td> {{ PI | number:'.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ percentage }}</td>
          <td> percent </td>
          <td> {{ percentage | percent }}</td>
        </tr>
        <tr>
          <td>{{ percentage }}</td>
          <td> percent:'2.2-2' </td>
          <td> {{ percentage | percent:'2.2-2' }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td> currency </td>
          <td> {{ salary | currency }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td> currency:'EUR' </td>
          <td> {{ salary | currency:'EUR' }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td> currency:'CAD':'symbol':'.0-0' </td>
          <td> {{ salary | currency:'CAD':'symbol':'.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ car }}</td>
          <td> json </td>
          <td><pre>{{ car | json }}</pre></td>
        </tr>
        <!-- el async es el pipe para manejar la asincronicidad-->
        <tr>
          <td>{{ promiseValue }}</td>
          <td> async </td>
          <td>{{ promiseValue | async }}</td>
        </tr>
        <tr>
          <td>{{ date }}</td>
          <td> date </td>
          <td>{{ date | date }}</td>
        </tr>
        <tr>
          <td>{{ date }}</td>
          <td> date:'medium' </td>
          <td>{{ date | date:'medium' }}</td>
        </tr>
        <tr>
          <td>{{ date }}</td>
          <td> date:'short' </td>
          <td>{{ date | date:'short' }}</td>
        </tr>
        <tr>
          <td>{{ date }}</td>
          <td> date:'MMMM - dd' </td>
          <td>{{ date | date:'MMMM - dd' }}</td>
        </tr>
        <!-- selección de idiomas -->
        <tr>
          <td>{{ date }}</td>
          <td> date:'dd/MM/yyyy':'':{{ language }} 
            <br>
            <button class="mr-1 btn btn-primary" (click)="language='es'">Español</button>
            <button class="mr-1 btn btn-secondary" (click)="language='en'">Inglés</button>
            <button class="mr-1 btn btn-success" (click)="language='fr'">Francés</button>
          </td>
          <td>{{ date | date:'MMMM - dd':'':language }}</td>
        </tr>

        <tr>
          <td>{{ password }}</td>
          <td> password:{{ active }} 
            <br>
            <button class="btn btn-outline-primary" (click)="active=!active">Activar/Desactivar</button>
          </td>
          <td>{{ password | password:active }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- aca se crea pipe para los archivos unsafe value como url o css se deben sanetizar -->
<h3 class="mt-4">Dom seguro</h3>
<hr>
<div class="row">
  <div class="col">
    <iframe 
      width="560" 
      height="315" 
      [src]="videoUrl | domsafe" 
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      allowfullscreen>
    </iframe>
  </div>
</div>